*{
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgb(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    background-color: rgba(0,0,0,.12);
    width: 100%;
    margin: 0 auto;
    padding: 3px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test h2{
    margin: 5px 0 0 0;
}
.logo{
    cursor: pointer;
    position: relative;
}

.card{
    position: relative;
    margin: 0 auto;
    display: inline-block;
}
.logo2{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .logo2 {
    display: inline;
}


.navbar ul li{
    list-style: none;
    display:inline-block;
    margin: auto 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration:none;
    color: rgba(71.4,200.4,242.9,1);
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width:0%;
    background-color: rgba(71.4,200.4,242.9,1);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width:100%;
}
.navbar ul li a:hover{
    color: white;
}

.content{
    width: 70%;
    text-align: center;
    color: white;
    transform: translateY(0%);
    
}

.content h1{
    font-size: 40px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.test{
    display: grid;
    padding-left: 40px;
    max-width: 1120px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: white;
}

button{
    width: 150px;
    padding: 13px 0;
    text-align: center;
    margin: 20px 10px 0px 0px;
    border-radius:25px;
    font-weight: bold;
    border: 2px solid rgba(71.4,200.4,242.9,1);
    background: transparent;
    color: white;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

span{
    background: rgba(71.4,200.4,242.9,1);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.75s;
}

button:hover span{
    width: 100%;
}

button:hover {
    border: none;
}

a:is(:link,:active,:visited).active{
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.logopp{
    max-width: 300px;
}


.features{
    padding: 45px 45px;
}

.features-inner{
    max-width:1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(390px,1fr));
    place-items: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-wrap: wrap;
}

.featured-item h3{
    color: white;
    font-weight: bold;
    margin: 10px 0;
    line-height:1.6;

}
.featured-item h4{
    color: white;
    font-weight: bold;
    margin: 5px 5px 0px 0px;

}

.featured-item p{
    margin: 0;
    line-height: 1.6;
    color: white;
}

.footer{
    padding: 10px;
    background-color: white;
    text-align: center;
    color: #999;
    font-size: 0.9rem;
}

.centered-content{
    display: flex;
}


.hidden{
    opacity: 0;
    filter:blur(5px);
    transition: all 1.5s;
}
.show{
    opacity: 1;
    filter: blur(0);
}

.box{
    width: 800px;
    background-color: rgba(0,0,0,0.4);
    padding: 40px;
    border-radius: 50px;;
    text-align: center;
    margin-top: 2%;
    color: white;

    font-family: 'Century Gothic', sans-serif;
    line-height: 1.9;
}

.box-img{
    border-radius: 50%;
    width:250px;
    height:250px;
}

.box h1{
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box h5{
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 100;
}

.box p{
    text-align: justify;
}

.box ul{
    margin:0;
    padding: 0;

}

.box li{
    display:inline-block;
    margin: 10px;
    list-style: none;
}

.box li a i{
    color: white;
    text-decoration: none;
    font-size: 60px;
}

.box li a i:hover{
    color: rgba(71.4,200.4,242.9,1);
}