*{
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgb(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
    position: relative;
}

.card{
    position: relative;
    display: inline-block;
}
.logo2{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .logo2 {
    display: inline;
}


.navbar ul li{
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration:none;
    color: rgba(71.4,200.4,242.9,1);
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width:0%;
    background-color: rgba(71.4,200.4,242.9,1);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}
.navbar ul li a:hover{
    color: white;
}

.content{
    width: 70%;
    text-align: center;
    color: white;
    transform: translateY(0%);
    
}

.content h1{
    font-size: 40px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.test{
    max-width: 1140px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: white;
}

button{
    width: 150px;
    padding: 13px 0;
    text-align: center;
    margin: 20px 10px 0px 0px;
    border-radius:25px;
    font-weight: bold;
    border: 2px solid rgba(71.4,200.4,242.9,1);
    background: transparent;
    color: white;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

span{
    background: rgba(71.4,200.4,242.9,1);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.75s;
}

button:hover span{
    width: 100%;
}

button:hover {
    border: none;
}

a:is(:link,:active,:visited).active{
    color: white;
    font-size: larger;
}

.logopp{
    max-width: 300px;
}


.features{
    padding: 45px 45px;
}

.features-inner{
    max-width:1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(390px,1fr));
    place-items: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-wrap: wrap;
}

.featured-item h3{
    color: white;
    font-weight: larger;
    margin: 10px 0;

}

.featured-item p{
    margin: 0;
    line-height: 1.6;
    color: white;
}

.footer{
    padding: 10px;
    background-color: white;
    text-align: center;
    color: #999;
    font-size: 0.9rem;
}
